.bg-container-home {
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/145/787/non_2x/technology-design-of-currency-exchange-on-blue-background-vector.jpg');
  min-height: 100vh;
  min-width: 100vw;
  background-repeat: round;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.form-container {
  background-color: royalblue;
  height: 420px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5px;
  text-align: left;
  min-width: 400px;
  padding: 10px;
}
label {
  font-size: 20px;
  font-weight: 900;
  font-family: 'Roboto';
  margin: 10px;
  color: white;
}
input {
  height: 30px;
  margin: 10px;
  border-radius: 5px;
}
select {
  height: 30px;
  margin: 10px;
  border-radius: 5px;
}

.convert-button {
  align-self: center;
  background-color: white;
  border: none;
  color: black;
  padding: 15px;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  border-radius: 7px;
  margin-left: 10px;
  margin-top: 10px;
}
h1 {
  color: white;
  font-family: 'Bree serif';
  font-style: normal;
  font-weight: 900;
}
p {
  color: white;
  font-family: 'Bree serif';
  padding-left: 10px;
  font-size: 23px;
  font-weight: 800;
  text-align: center;
}
